@use '../util/' as *;

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
}

body {
    font-size: calc(1rem + 0.75vw);
    margin: 0;
    padding: 0;
    font-family: $mainFont;
    color: $grayishBlue;
    line-height: 1.4;
}