@use '../util' as *;


section {
	max-width: 1440px;
	margin: 0 auto;
}

.container {
	display: flex;
	flex-direction: column;
	padding: 0 30px;
	margin: 0 auto;
	max-width: 690px;
	align-items: center;

	@include breakpoint(large) {
		padding: 0 0;
	}
}
