@use '../util' as *;

.container {
	display: flex;
	flex-direction: column;
	padding: 0 30px;
	margin: 0 auto;
	max-width: 690px;
	align-items: center;

	@include breakpoint(medium) {
		padding: 0 0;
		// align-self: center;
	}
}
