@use '../util' as *;

h1, h2, h3 {
    margin-top: 0;
    text-align: center;
    color: $darkGrayishBlue;
}

.h1 {
    &--large {
        font-size: 1.60em;
    }

    &--small {
        font-size: 1em;
        margin-bottom: 10px;
    }
}

a, a:visited, a:active {
    text-decoration: none;
}

p {
    text-align: center;
    color: $grayishBlue;
}

.p {
    &--large {
        font-size: 0.85em;
    }

    &--small {
        font-size: 1rem;
    }
}

.justify {
    text-align: justify;
}