@use '../util' as *;

h1, h2, h3 {
    margin-top: 0;
    text-align: center;
}

h1{
    font-size: 1.60em;
}

a, a:visited, a:active {
    text-decoration: none;
}

p {
    text-align: center;
    color: $grayishBlue;
    font-size: 0.9em;
}