@use '../util' as *;

.history {
    
    h1 {
        margin-bottom: 22px;
    }
    
    p {
        margin-bottom: 50px;
    }

    &-buttons {
    display: flex;
    flex-direction: column;
    margin-bottom: 130px;
    
        @include breakpoint(medium){
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 15px;
        
        }
    }

}
